.card-main {
    display: flex;
    flex-wrap: wrap;
    flex: 200px;
    /* background-color: #ffff;
    width: 311px;
    height: 330px;
    border: 1px solid #DFE4EA;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    justify-content: space-evenly; */
   
  }
  
  /* .top {
    display: flex;
    justify-content: space-between;
  }
  
  .card-h5-container {
    display: flex;
    height: 60px;
    max-width: 180px;
  }
     
  .img-container-listado {
    position: relative;
    left: 0%;
    right: -0.03%;
    top: -5.65%;
    bottom: -11.3%;
    border-radius: 8px 8px 0px 0px;
    /* width: 50%;
    margin: 0px;
    height: 274px; */
  /* }
  
  .img1 {
    height: 10%;
    width: 10%;
    object-fit: cover;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-drag: none;
     -webkit-user-select: none;
     -ms-user-select: none;
  
  }
   */ 
  
  .card-text {
    width: 50%;
    margin: 15px 15px 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  
  .card-button {
    font-weight: 600;
    color: var(--negro);
    text-align: center;
    border: 2px solid var(--negro);
    padding: 0.275rem 0.75rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: var(--negro);
    background-color: white;
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
    
    }
  
  
  @media screen and (max-width: 414px) {
    .card-main {
      flex-direction: column;
      width: auto;
      align-items: center;
      margin: 5px 5px 20px 5px;
    }
    .img-container-listado {
      width: 100%;
    }
    .card-text {
      margin: 10px 0px;
      width: 90%;
    }
    .img1 {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 10px;
    }
  }
  