:root {
  --primary-color: #1dbeb4;
}

/* header */

.header {
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 100;

  
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 35px;
  box-sizing: content-box;
}

.btnMenu {
  cursor: pointer;
}

.drawer {
  position: absolute;
  top: 0;
  right: -10px;
  height: 100vh;
  width: 70vw;
  background-color: #bdbdbd;
  transition: 0.6s all ease;
}

.show-rawer {
  right: 0px; 
}

.topSectionDrawer {
  height: 25%;
  background-color: #1DBEB4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-close-menu {
  height: 20px;
  cursor: pointer;
  align-self: flex-start;
}

.menu-profile {
  align-self: flex-end;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.bottomSectionDrawer {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.drawer-options-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  font-size: 16px;
  font-weight: 700;
}

.drawer-option {
  cursor: pointer;
  color: #383B58;
}

.drawer-options-hr {
  width: 100%;
  height: 1px;
  background-color: #545776;
}

.drawer-redes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  gap: 30px;
}

.container-cerrar-sesion {
  width: 100%;
  text-align: right;
  padding-bottom: 5px;
  border-bottom: solid 1px #545776;
  font-size: 12px;
  font-weight: 500;
}

.cerrar-sesion{
  color: var(--primary-color);
  cursor: pointer;
}

.redes-continer {
  display: flex;
  gap: 10px;
}

.redes-icon{
  cursor: pointer;
}



/* footer */
.footer {
  height: 50px;
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.main-container {
  padding: 60px 10px 50px 10px;
  background-color: #eeeeee;
  min-height: 100vh;
}

/* new form LOGIN*/
.form-container {
  min-height: calc(100vh - 110px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form-user {
  margin-top: 20px;
  height: 100%;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-user-title {
  margin-bottom: 60px;
  font-size: 24px;
  color: var(--primary-color);
}

.form-user-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-user-label {
  font-weight: 500;
}

.form-user-input {
  margin-top: 5px;
  height: 40px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  padding-left: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.input-user-error {
  background-color: #ffe1e1;
  border: solid 1px #ff0000;
}

.form-user-validation {
  color: #ff0000;
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  min-width: 10px;
  min-height: 16px;
}

.input-user-password-container {
  position: relative;
}

.btn-show-password {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form-user-submit-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-user-credential-validations {
  color: #ff0000;
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  min-width: 10px;
  min-height: 16px;
  text-align: center;
}

.form-user-btn-login {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.form-user-btn-login:hover {
  background-color: #1ca79d;
}

.form-user-change-form {
  margin-top: 10px;
  font-weight: 500;
  size: 12px;
  text-align: center;
}

.form-user-change-form-link {
  color: #4285f4;
  cursor: pointer;
}

.form-user-change-form-link:hover {
  color: #072cfc;
}

/* new form SINGIN */
.form-singin {
  margin-top: 10px;
}

.form-singin-names-field {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-singin-title {
  margin-bottom: 5px;
}

.form-singin-btn-submit {
  margin-top: 0px;
}

@media (min-width: 768px) {
  /* form user */
  .form-container {
    align-items: center;
  }

  .form-user {
    margin-top: 0px;
    max-width: 346px;
  }

  .form-user-title {
    margin-bottom: 40px;
  }

  /* form singin */
  .form-singin-names-field {
    max-width: 346px;
  }

  .form-singin-title {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .form-user {
    margin-top: 20px;
    max-width: 448px;
  }

  .form-user-btn-login {
    width: 206px;
    margin-top: 10px;
  }

  /* form singin */
  .form-singin {
    margin-top: 0px;
  }

  .form-singin-names-field {
    max-width: 448px;
    flex-direction: row;
    gap: 15px;
  }
}
