:root {
  --primary-color: #1dbeb4;
}

.header {
  background-color: rgb(161, 161, 161);
  height: 93px;
  position: fixed;
  width: 100%;
  top: 0;
}

.footer {
  height: 58px;
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.main-container {
  padding: 93px 10px 58px 10px;
  background-color: #eeeeee;
  min-height: 100vh;
}

/* Formulario Login */
.form-login-container {
  min-height: calc(100vh - 151px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form-login {
  margin-top: 20px;
  height: 100%;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login-container .title {
  margin-bottom: 60px;
  font-size: 24px;
  color: var(--primary-color);
}

.form-login .form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-login .form-label {
  font-weight: 500;
}

.form-login .form-input {
  margin-top: 5px;
  height: 40px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  padding-left: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.form-login .input-error {
  background-color: #FFE1E1;
  border: solid 1px #FF0000;
}

.password-input-container {
  position: relative;
}

.btn-show-password {
  position: absolute;
  top: 20px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.login-validation {
  color: #ff0000;
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  min-width: 10px;
  min-height: 16px;
}

.login-validation-credentials {
  text-align: center;
}

.form-login .btn-login {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.form-login .btn-login:hover {
  background-color: #1ca79d;
}

.form-login .not-count {
  margin-top: 10px;
  font-weight: 500;
  size: 12px;
  text-align: center;
}

.not-count .go-to-sign-in {
  color: #4285f4;
  cursor: pointer;
}

.not-count .go-to-sign-in:hover {
  color: #072cfc;
}

@media (min-width: 768px) {
  .form-login-container {
    align-items: center;
  }

  .form-login {
    margin-top: 0px;
    max-width: 346px;
  }

  .form-login-container .title {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .form-login {
    margin-top: 20px;
    max-width: 448px;
  }


  .form-login .btn-login {
    width: 206px;
    margin-top: 10px;
  }
}


/* Formulario Singin */
.names-form-singin {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sing-in-title {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--primary-color);
}

.form-login .form-input {
  /* cambio de 10px a 5 px */
  margin-top: 5px; 
  height: 35px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  padding-left: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}


.form-login .btn-singin {
  margin-top: 15px;
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.form-singin {
  margin-top: 10px;
  height: 100%;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login .go-to-login {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  size: 12px;
  text-align: center;
}

.go-to-login-link {
  color: #4285f4;
  cursor: pointer;
}

.go-to-login-link:hover {
  color: #072cfc;
}

